body {
    background-image: url('../assets/image.png');
    margin: 0;
    font-family: ubuntu, arial;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

i:hover {
    transform: scale(1.1);
}

i:active {
    transform: scale(1);
}

.container {
    max-width: 1026px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.new-project-btn {
    margin: 30px auto;
    height: 40px;
    width: 160px;
    background-color: white;
    color: rgba(60, 60, 60, 1);
    font-size: 16px;
    font-weight: bold;
    border: 1px solid rgba(60, 60, 60, 0.5);
    border-radius: 3px;
    box-shadow: 0 0 2px silver;
}

.new-project-btn:hover {
    background-image: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1));
}

.projects {
    position: relative;
    display: flex;
    align-items: flex-start;
    overflow-x: scroll;
    width: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.projects::after {
  content: "";
  flex: 0 0 20px;
  height: 20px;
}

.projects::-webkit-scrollbar {
    display: none;
}

.project-card {
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px;
    min-height: 300px;
    max-height: 450px;
    background-color: white;
    border: 1px solid rgba(60, 60, 60, 0.5);
    border-radius: 3px;
    box-shadow: 0 0 2px silver;
}

.project-card:last-child {
    margin-right: 0;
}

.content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(60, 60, 60, 0.1);
    color: rgba(60, 60, 60, 1);
    box-shadow: 0 1px 1px -1px rgba(60, 60, 60, 0.5);;
    z-index: 2;
}

.header h2 {
    margin: 15px;
    margin-left: 25px;
    width: 60%;
    word-wrap: break-word;
    font-size: 20px;
}

.header p {
    position:relative;
    margin: 5px 0;
    width: 80%;
    word-wrap: break-word;
    cursor: pointer;
}

.header i {
    font-size: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.todo-block {
    margin: 0 10px;
    padding: 5px;
    border-bottom: 1px solid rgba(60, 60, 60, 0.5);
}

.todo-block:last-child {
    border: none;
}

.todo-block .header {
    background-color: white;
    box-shadow: none;
}

.todo-block i {
    float: right;
    color: darkred;
    font-size: 20px;
    margin: 5px;
    margin-right: 7px;
    cursor: pointer;
}

.todo-block textarea {
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
    height: 100px;
    resize: none;
    margin: 5px 0;
    border: 1px solid rgba(60, 60, 60, 0.5);
    border-radius: 2px;
    box-shadow: 0 0 1px silver inset;
}

.priority-bullet {
    margin-right: 10px;
    font-size: 20px;
}

.prev-btn, .next-btn {
    position: absolute;
    top: 230px;
    color: rgba(60, 60, 60, 1);
    font-size: 54px;
}

.prev-btn {
    left: 50%;
    margin-left: -580px;
}

.next-btn {
    right: 50%;
    margin-right: -580px;
}


@media (max-width: 1180px) {
    .prev-btn, .next-btn {
        top: 23px;
    }

    .prev-btn {
        margin-left: -42vw;
    }

    .next-btn {
        margin-right: -42vw;
    }
}
