body {
  background-color: rgba(60, 60, 60, 0.3);
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.new-project-btn {
    width: 300px;
    height: 40px;
    margin: 0 auto;
}

#projects {
    display: flex;
    align-items: flex-start;
    /* text-align: center; */
    margin: 30px 0;
    overflow-x: scroll;
    width: 100%;
}

.project-card {
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 20px;
    min-height: 250px;
    max-height: 500px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid rgba(60, 60, 60, 0.5);
    border-radius: 3px;
    box-shadow: 0 0 2px silver;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header h2 {
    margin: 15px;
}

.header button {
    margin: 15px;
}

.header p {
    margin: 5px 0;
}

.header input {
}

.todo-block {
    margin: 0 15px;
    padding: 5px 0;
    border-bottom: 1px solid rgba(60, 60, 60, 0.5);
}

.todo-description {
    display: none;
}
