body {
    background-color: rgba(90, 90, 90, 0.3);
    margin: 0;
    font-family: ubuntu, arial;
}

.container {
    max-width: 1020px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.new-project-btn {
    margin: 30px auto;
    height: 40px;
    width: 160px;
    background-color: white;
    color: rgba(60, 60, 60, 1);
    font-size: 16px;
    font-weight: bold;
    border: 1px solid rgba(60, 60, 60, 0.5);
    border-radius: 3px;
    box-shadow: 0 0 2px silver;
}

.new-project-btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.projects {
    display: flex;
    align-items: flex-start;
    overflow-x: scroll;
    width: 100%;
}

.project-card {
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px;
    min-height: 250px;
    max-height: 450px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid rgba(60, 60, 60, 0.5);
    border-radius: 3px;
    box-shadow: 0 0 2px silver;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(60, 60, 60, 0.1);
    color: rgba(60, 60, 60, 1);
}

.header h2 {
    margin: 15px;
    margin-left: 25px;
    width: 65%;
    word-wrap: break-word;
    font-size: 20px;
}

.header button {
    margin-right: 24px;
    padding: 0;
    border: none;
    background-color: transparent;
    font-size: 30px;
    font-weight: bold;
    width: 30px;
    cursor: pointer;
}

.header button:hover {
    transform: scale(1.1);
}

.header button:active {
    transform: scale(1);
}


.header p {
    position:relative;
    margin: 5px 10px;
    width: 80%;
    word-wrap: break-word;
    cursor: pointer;
}

.header input {
}

.todo-block {
    margin: 0 15px;
    padding: 5px 0;
    border-bottom: 1px solid rgba(60, 60, 60, 0.5);
}

.todo-block:last-child {
    border: none;
    margi60n-bottom: 10px;
}

.todo-block .header {
    background-color: white;
}

.todo-description {
    display: none;
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
    resize: vertical;
    margin: 5px 0;
    border: 1px solid rgba(60, 60, 60, 0.5);
    border-radius: 2px;
    box-shadow: 0 0 1px silver inset;
}

.priority-bullet {
    margin-right: 10px;
    font-size: 20px;
}
